* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    font-weight: bold;
    text-align: center;
    background-color: hsl(120, 50%, 40%);
    border: none;
    color: white;
    max-width: 150px;
    margin: 0 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover {
    background-color: hsl(120, 50%, 30%);
    color: black;
}

button:active {
    background-color: hsl(120, 50%, 40%);
    color: white;
}

button:disabled {
    background-color: hsl(120, 20%, 40%);
    pointer-events: none;
}

button,
input {
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 20px;
}

p,
button,
input {
    margin-top: 20px;
}

.error {
    color: hsl(0, 90%, 50%);
}

.MetaMask-container,
.SD-container,
.collection-container {
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    max-width: 1200px;
    margin: 25px auto;
    padding: 50px;
}

.connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.connect-info-container {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.connect-info-container button {
    background-color: hsl(0, 90%, 50%);
    margin: 10px 0 0 0;
}

.connect-info-container button:hover {
    background-color: hsl(0, 90%, 40%);
}

.account-container {
    align-self: start;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.prompt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.prompt-container input {
    flex-grow: 1;
    border: 2px solid black;
    margin-left: 10px;
}

.spinner-container,
.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 80%);
    border-radius: 25px;
    width: 80%;
    min-height: 500px;
    margin-top: 20px;
}

.spinner {
    background-color: hsla(0, 0%, 0%, 0);
    border: 20px solid hsl(120, 50%, 40%);
    border-top: 20px solid hsl(120, 50%, 30%);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 40px;
}

.image-container img {
    border-radius: 25px;
    width: 100%;
    margin-bottom: 10px;
}

.collection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    padding-right: 10px
}

.SDN-container {
    height: 208px;
    width: 208px;
    position: relative;
    margin: 10px 0 10px 10px;
}

.SDN-container img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.delete-button {
    background-color: hsl(0, 90%, 50%);
    font-size: 0.8rem;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    right: 0;
    padding: 0;
    margin: 0;
}

.delete-button:hover {
    background-color: hsl(0, 90%, 40%);
}